# Aether Configs.toml

[General]
	cfgVersion = 6
	DIMENSION = 9
	EXTRA_HEALTH = 20
	QUICK_SOIL_SPEED_CAP = 1.3250000476837158
	REMOTE_RESOURCE_URL = "https://raw.githubusercontent.com/bta-team-port/better-with-aether/refs/heads/7.3/remoteAssets/"
	ENCHANTER_SCREEN_ID = 12
	FREEZER_SCREEN_ID = 13
	INCUBATOR_SCREEN_ID = 14
	BLOCK_ID_STARTING_FROM = 10000
	ITEM_ID_STARTING_FROM = 26000

